/* website color palette */
:root {
 --dark: #2D0A2F;
 --gray: #747474;
 --bright: #DC5445;
 --purple: #7A45A8;
 --light: #EEEDE7;
}
* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--light);
    margin: 0;
    

}

header nav {
    margin: 7px 0;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--light);
    text-decoration: none;
    border-bottom: 3px solid var(--light);
    padding-bottom: 5px;
}

a:hover{
    color:var(--bright);
    border-bottom: 3px solid var(--bright);
    padding-bottom: 5px;
}

a:visited {
    color:var(--bright);
}
footer {
    background-color: var(--bright);
    text-align: center;
    font-weight: lighter;
    padding: 5px;
    font-size: 15px;
}

/* hero styles */

.hero {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap:wrap;
    padding: 20px;
    background-image: url("../images/sunset.jpg");
    height: 150px;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    color: var(--light);
    background-color: var(--purple);
    padding:10px;
}

/* grid styles */
.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr repeat(4, 2fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    width: 90%;
    font-size: 1.2rem;
    grid-auto-flow: column;
    /* padding: 20px; */
}

.grid-item {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.grid-item.about {
    grid-row: 1/ span 2;
    
}

.grid-item.image {
    justify-content: center;
}

.grid-item.about img {
    border: 3px solid var(--purple);
    
}

.grid-text.about {
    grid-column: 3/ span 4;
    
}

.about p {
    color: var(--dark);
    font-size: 17px;
    text-align: left;
}

.grid-item.contact {
    grid-row: 10/ span 2
}

.grid-head {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-right: 10px;
}

.grid-head.work {
    grid-column: 1;
    grid-row: 3/ span 1;
    
}

.main-item.work {
    grid-column: 2/ span 2;
    grid-row: 3/ span 5;
    background-color: aqua;
    border: 1px solid red;
}

.item-two {
    grid-column: 4/ span 1;
    grid-row: 3/ span 3;
    background-color: aqua;
    border: 1px solid red;
}

.item-three {
    grid-column: 4/ span 1;
    grid-row: 5/ span 3;
    background-color: aqua;
    border: 1px solid red;
}

.item-four {
    grid-column: 2/ span 1;
    grid-row: 8/ span 2;
    background-color: aqua;
    border: 1px solid red;
}

.item-five {
    grid-column: 3/ span 1;
    grid-row: 8/ span 2;
    background-color: aqua;
    border: 1px solid red;
}

.grid-list.contact {
    grid-column: 2/ span 4;
    justify-content: space-between;
    background-color: pink;
    border: 1px solid blue;
}

/* work grid */
/* this grid needs 3 columns and 3 rows */
.work {

}
.work-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.work-item.heading {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-left: 20px;
    margin-left: 20px;
    justify-content: flex-end;
    align-content: flex-end;
    grid-row: 1/ span 3;
}

.work-item {
    border: 2px solid var(--bright);
    background-color: lavender;
}

.work-item.one {
    grid-column: 2/ 4;
    grid-row: 1/ 5;
}

.work-item.two {

}

.work-item img {
    
    
}
/*contact grid */
/* this grid needs 2 columns and one row */
.contact {

}

.contact-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
}
.contact-item {
    justify-content: flex-end;
}

.contact-item.heading {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-left: 20px;
    margin-left: 20px;
    justify-content: flex-end;
    align-content: flex-end;
    
}

.contact-item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-item ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
    padding-bottom: 5px;
    
}
.contact-item ul li a {
    text-decoration: none;
    color: var(--dark);
    
}

.contact-item ul li a:hover{
    color:var(--bright);
    border-bottom: 3px solid var(--bright);
    padding-bottom: 5px;
    
}

.contact-item.list {
   grid-column: 2 ;
}