/* website color palette */
:root {
 --dark: #2D0A2F;
 --gray: #747474;
 --bright: #DC5445;
 --purple: #7A45A8;
 --light: #EEEDE7;
}
* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--light);
    margin: 0;
    

}

header nav {
    margin: 7px 0;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--light);
    text-decoration: none;
    border-bottom: 3px solid var(--light);
    padding-bottom: 5px;
}

a:hover{
    color:var(--bright);
    border-bottom: 3px solid var(--bright);
    padding-bottom: 5px;
}

a:visited {
    color:var(--bright);
}
footer {
    background-color: var(--bright);
    text-align: center;
    font-weight: lighter;
    padding: 5px;
    font-size: 15px;
}

/* hero styles */

.hero {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap:wrap;
    padding: 20px;
    background-image: url("../images/sunset.jpg");
    height: 150px;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    color: var(--light);
    background-color: var(--purple);
    padding:10px;
}

/* grid styles */
.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
/* about grid */
/* this grid needs 3 columns and one row */
.about {
    
}

.about-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
}

.about-item {
    /* border: 3px solid blue; */
    justify-content: flex-start;
}

.about-item.heading {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-left: 20px;
    margin-left: 20px;
    justify-content: center;
}

.about-item.photo {
    height: 100px;
    width: 100px;
    border: 3px solid var(--purple);
}
/* work grid */
/* this grid needs 3 columns and 3 rows */
.work {

}
.work-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(5 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.work-item.heading {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-left: 20px;
    margin-left: 20px;
    justify-content: center;
    grid-row: 1/ span 3;
}

.work-item {

}

.work-item img {
    border: 2px solid var(--bright);
}
/*contact grid */
/* this grid needs 2 columns and one row */
.contact {

}

.contact-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 20px;
}
.contact-item {
    justify-content: flex-end;
}

.contact-item.heading {
    font-size: 30px;
    font-weight: bolder;
    color: var(--bright);
    border-right: 3px solid var(--bright);
    padding-left: 20px;
    margin-left: 20px;
    justify-content: center;
}

.contact-item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-item ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
    padding-bottom: 5px;
}
.contact-item ul li a {
    text-decoration: none;
    color: var(--dark);
}

.contact-item ul li a:hover{
    color:var(--bright);
    border-bottom: 3px solid var(--bright);
    padding-bottom: 5px;
}